html, body {
    height: 100%;
    box-sizing: border-box;
    font-family: "Roboto";
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
	background-image: url("background.jpg");
	background-size: cover;
}
body.homepage{
	background-color: #80d4ff;
	background-image: none;

}
.main_page{
	position: fixed;
	left: 21%;
	top: 10%;
	font-size: 1.9em;
	text-align: center;
	color: #f5f5f0;
	font-size: 3em;
}

.login{
	background-color: transparent;
	background-repeat:no-repeat;
	color: white;
	font-weight: lighter;
	box-shadow: none;
	border: 2px solid;
	border-color: white;
	width: 35px;
	position: fixed;
	left: 37%;
	top: 63%;
	height:73px;
	width:352px;
	padding: 11px;
	font-size: .7em;

}
.login:hover{
	background-color: transparent;
	border-color:white;
}
.sidebar{
	position: fixed;
	left:0;
	top:0;
	bottom:0;
	background-color: #0077b3;
	width: 32%
}

.user{
	position: fixed;
	left:0;
	top:0;
	width: 32%;
	height: 18%;
	background-color: #004466;
	color: #80d4ff;
}

.name{
	font-size:1.5em;
	position: fixed;
	top:11%;
	left:3%;
}

.logout{
	font-size: 1em;
	position: fixed;
	top:14%;
	left:25.5%;
	color:inherit;

	background-color: inherit;;
	border:none;
}
.logout:hover{
	text-decoration: underline;
	cursor: pointer;
}

.main_stuff{
	positon: fixed;
	top:0;
	bottom:0;
	left:30%;
	width:100%;
	height:80%;
	background-color: #80d4ff;
	background-size: cover;
}

.chat_member:hover{
	color:#004466;
	background-color: white;
	border-width: 2.5px;
}
.chat_member{
	position: relative;
	top:18.1%;
	left:0%;
	border: solid;
	font-size: 1.3em;
	color:white;
	padding:37.5px 10px  37.5px 20px;
	border-width: 1.2px;
}

.my_message{
	position: relative;
	background-color: #4dc3ff;
	left:38%;
	border: solid;
	border-color: #4dc3ff;
	border-radius: 20px;
	width: 60%;
	text-align: right;
	padding: 2px;
	padding-right: 20px;
	margin:20px;
}
.other_message{
	margin:20px;
	padding: 2px;
	position: relative;
	background-color: white;
	left:33%;
	border: solid;
	border-color: white;
	border-radius: 20px;
	width: 60%;
	text-align: left;
	padding-left: 20px;
}
.textBox{

	background-color: #00aaff;
	position: relative;
	border-color: white;
	top:85px;
	width: 68%;
	left:32%;
}
.text{
	border:1000px;
	border-color: #00aaff;
	width: 62%;
	height: 3%;
	position: fixed;
	top:94.4%;
	left:33%;
	border-radius: 30px;
}
.send{
	float: right;
	position: fixed;
	top:94.4%;
	left:95.5%;
	border-radius: 30px;
	background-color: #004466;
	color:#80d4ff;
	border:solid;
}
.send:hover{
	background-color: #00334d;
}
