html, body {
    height: 100%;
    box-sizing: border-box;
    font-family: "Roboto";
}

*, *:before, *:after {
    box-sizing: inherit;
}

.main_page{

}

.login{
	height:50px;
	width:200px;
	padding: 10px;
	margin: 20px;
}
